<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="title" content="Le moteur de recherche de l'Eglise catholique" />
    <meta name="description" content="Le nouveau moteur recherche.catholique.fr permet de recherche sur les sites des diocèses, sur les sites de la conférence des évêques de France, sur le site du Vatican, et sur tous les sites en catholique.fr et cef.fr" />
    <title>Le moteur de recherche de l'Eglise catholique</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico" />
  <style type="text/css" media="screen">
    body {
        min-height: 500px;
        font: 14px Calibri, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    }

    h1 {
        font: normal normal 45px Cambria, Georgia, "Times New Roman", Times, serif;
        color: #007DC0;
        position: absolute;
        top: 50px;
        left: 305px;
    }

    h1 span {
        color: #004E94;
    }

    img {
        border-style: none;
    }

    #illustration {
        position: absolute;
        top: 80px;
        left: 110px;
    }

    #illustration p {
        font-size: 12px;
        margin: 0;
        padding: 0;
        color: silver;
    }

    #cef_search_box {
        margin-top: 150px;
        margin-left: 300px;
    }

    p.searchbox {
        height: 16px;
        width: 400px;
        font-size: 16px;
        padding: 2px;
    }

    #cef_search_box label {
        margin-right: 6px;
    }

    #cef_search_results {
        width: 600px;
        margin-left: 250px;
        background-color: white;
        margin-bottom: 60px;
        margin-top: 50px;
        min-height: 300px;
    }

    #footer {
        font: 10px Arial;
        color: gray;
        text-align: center;
    }

    #footer a {
        color: gray;
        text-decoration: none;
    }

    #google_custom_search_logo {
        left: 830px;
        position: absolute;
        top: 210px;
    }

    .gs-per-result-labels {
        display: none;
    }
    </style>

</head>

<body>

    <h1><span>recherche</span>.catholique.fr</h1>
    <div id="illustration">
        <a href="/"><img src="/img/new_logo_sites_cef_grand.png" alt="Logo sites en .catholique.fr" /></a>
        <!-- <img src="/img/recouvrement.jpg" alt="Recouvrement de Jésus au Temple" /> -->
        <!-- <p class="legende">Jésus perdu et retrouvé<br > – Giotto di Bondone (1267-1337)</p> -->
    </div>
    <div id="cef_search_box">
        <form action="/" method="get" accept-charset="utf-8">
            <p class="searchbox">
                <gcse:searchbox enableHistory="true">
            </p>
            <p style="display: none;">
                <input type="radio" name="sites" value="tous" checked="true" id="tous"><label for="tous">Tous</label>
                <input type="radio" name="sites" value="eglise.catholique.fr" id="eglisecatholiquefr"><label for="eglisecatholiquefr">eglise.catholique.fr</label>
                <input type="radio" name="sites" value="vatican" id="vatican"><label for="vatican">Vatican</label>
                <input type="radio" name="sites" value="services nationaux" id="services_nationaux"><label for="services_nationaux">Services Nationaux</label>
                <input type="radio" name="sites" value="diocèses" id="dioceses"><label for="dioceses">Diocèses</label>
            </p>
        </form>
    </div>

    <div id="cef_search_results">
        <gcse:searchresults
            refinementStyle="link"
            defaultToRefinement="{{sites}}"
            resultSetSize="large">

        <div id="cef_search_control" style="display: none;"></div>
    </div>
    <div id="footer">
        <a href="http://www.eglise.catholique.fr/ressources-annuaires/moteur-de-recherche/">À propos</a> | <a href="http://www.eglise.catholique.fr/mentions-legales.html">Mentions légales</a> | <a href="http://www.eglise.catholique.fr/contact.html?AuteurID=1">Contact</a>
        <br />© recherche.catholique.fr, le moteur de recherche de l'Église catholique.
    </div>

    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//www.google.com/cse/cse.js?cx=002848703620547974985:uqc3tjf5wbs"></script>
    <script>var jq1112 = jQuery.noConflict();</script>
    <script src="/api/cef.js" type="text/javascript"></script>
    <script>
    // nav bar
    CEF.initNavigationBar({
        site_search: false
    });
    </script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
          var pageTracker = _gat._getTracker("UA-15247792-1");
          pageTracker._trackPageview();
          $('a.gs-title').live('click', function () {
              pageTracker._trackPageview('/outgoing/' + $(this).attr('href'));
          });
      } catch(err) {}
    </script>
</html>